.Logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.Logo-Check {
    color: darkred;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.Logo-Flix {
    color: whitesmoke;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

textarea:focus, input:focus{
    outline: none;
}
button:focus {
    outline: none;
}

.center {
    /* Add text-align property if needed to its own div*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SearchRow{
    font-size: 1em;
    text-align: center;
    /*border: 3px solid green;*/
}

.SearchBar{
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    width: 25%;
    height: 30px;
}

.mainButton {
    height: 30px;
    border-radius: 18px;
    display: inline-block;
}

body {
    /* disables the black vertical line when clicking on text a.k.a the "caret" */
    -webkit-user-select: none;
    background: url("images/background.jpg");
    background-size: cover;

    /* this fixed the zooming in problem */
    background-color: darkgrey;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#filterButton{
    display: none;
}

/* the newAdditions container */
#newAdditions {
    margin: 10px auto;
    width: 95%;
    /*border: 4px solid blue;*/
    padding: 20px;
    overflow: hidden;
}

/* a single show/movie container */
#anElement {
    width: 46%;
    float: left;
    margin:  30px 30px;
    /*border: 4px solid red;*/
}

/* thumbnail of show/movie */
#newAdditions div div img {
    /*border: 4px solid blue;*/
    margin-right: 15px;
    float: left;
    width: 300px;
}

/* content or details of show/movie */
#newAdditions div #content {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    color: whitesmoke;

}

#goToNetflix {
    color: red;
    background-color: grey;
    font-size: 1.5em;
    width: 100px;
    height: 50px;
    border-radius: 18px;
}